<ion-content>
   
    
  <ion-grid>
    <ion-row >
      <ion-col col-6 col-md-6 col-lg-6 col-sm-6>
        <ion-card *ngFor = "let hotel of shoppingList1$ | async"> 

          <img src='{{hotel.pic1}}' height ="500px" width = "500px">

          <ion-fab-button right size="small" color="secondary" (click) ="showmodal3(hotel)" >
            <ion-icon name="Create" large></ion-icon >
          </ion-fab-button>


          <ion-item>
            <ion-icon name="bed" item-start large></ion-icon>
            <h2>Hotel Name:{{hotel.name}}</h2>
            <p></p>
          </ion-item>

          <ion-item>
            <ion-icon name="locate" item-start large></ion-icon>
            <h2>Address: {{hotel.address}}</h2>
          </ion-item>

          <ion-item>
            <h2>Rating:{{hotel.rating}}</h2>
          </ion-item>

          <ion-item>
            <h2>Room-Type:{{hotel.roomtype}} </h2>
          </ion-item>

          <ion-item>
            <ion-card></ion-card>
            <ion-fab-button size="small" color="danger" (click) ="delete(hotel)">
              <ion-icon name="trash"></ion-icon>
            </ion-fab-button>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col col-6 col-md-6 col-lg-6 col-sm-6>
        <ion-card *ngFor = "let shotel of shref$ | async">

          <img src='{{shotel.pic1}}' height ="500px" width = "500px">

         


          <ion-item>
            <ion-icon name="bed" item-start large></ion-icon>
            <h2>{{shotel.name}}</h2>
            <p></p>
          </ion-item>

          <ion-item>
            <ion-icon name="locate" item-start large></ion-icon>
            <h2>Rating:{{shotel.rating}}</h2>
          </ion-item>

          <ion-item>
            <h2>Hotel Type : {{shotel.hoteltype}}</h2>
          </ion-item>

          <ion-item>
            <h2> {{shotel.address}}</h2>
          </ion-item>

          <ion-item>
          
            
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="top" horizontal="left">
      <ion-fab-button right size="large"  (click) ="newh()">
        <ion-icon name="add" large></ion-icon>
      </ion-fab-button>
      </ion-fab>
</ion-content>